*{
    margin: 0;
}
body{
    height: 150vh;
}
section.all{
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: aqua;
}
section.slid{
    opacity: 0;
    position: absolute;
}
section.slid.act{
    opacity: 1;
}